/* CSS Document */

#main{
	width:980px;
	height:auto;
	margin-top:40px;
}

#main #share_block{
	margin-top:15px;
	float:left;
	width:100%;
	height:auto;
	padding:10px;
	border:solid 1px #060;
	border-radius:10px;
	background:#eee;
	box-shadow:#888 0px 2px 4px;
}
#main #share_block #share_info{
	margin:10px auto;
	display:block;
	clear:both;
	height:40px;
	width:800px;
	background:#fff;
	border-radius:10px;
	box-shadow:#999 1px 2px 2px;
}
#main #share_block #share_mark{
	float:left;
	width:100px;
	height:40px;
	border-radius:10px 0 0 10px;
	background:#090;
	font: bold 16px "黑体";
	color:#FFF;
	line-height:40px;
	text-align:center;
}
#main #share_block #share_func{
	float:right;
	width:auto;
	height:40px;
	border-radius:10px;
	background:#fff;
}
#main #share_block #share_func a{
	display:block;
	float:left;
	width:70px;
	height:20px;
	margin:10px 10px 0 0;
	border-radius:5px;
	background:#060;
	font: normal 13px "黑体";
	color:#FFF;
	line-height:20px;
	text-align:center;
	text-decoration:none;
}
#main #share_block #share_func a:hover{
	background:#090;
}
#main #share_block #file_block{
	height:auto;
	float:left;
	width:950px;
	margin:10px auto;
	margin:10px 15px;
}
#main #share_block #file_block .file{
	height:auto;
	width:180px;
	margin:5px;
	float:left;
	background:#fff;
	box-shadow:#333 1px 1px 3px;
	border-radius:5px;
}
#main #share_block #file_block .file:hover{
	box-shadow:#0c0 1px 1px 20px;
}
#main #share_block #file_block .file .img{
	width:150px;
	height:150px;
	display:block;
}
#main #share_block #file_block .file a{
	width:150px;
	height:150px;
	display:block;
	overflow:hidden;
	margin:10px auto;
	border-radius:5px;
}
#main #share_block #file_block .file a:hover{
	box-shadow:#9C0 0 0 5px;
}
#main #share_block #file_block .file .s_title{
	height:auto;
	width:170px;
	margin: 5px 5px;
	float:left;
	font:bold 13px "宋体";
	line-height:16px;
	word-break:break-strict;
	text-align:center;
	color:#090;
	text-shadow:#333 1px 1px 1px;
}
#main #share_block #file_block .file .s_info{
	height:80px;
	width:170px;
	float:left;
	margin: 5px 5px;
	color:#666;
	line-height:16px;
	overflow:hidden;
}
#main #share_block #file_block .file .s_user{
	height:auto;
	width:170px;
	margin: 5px 5px;
	float:left;
	font:bold 13px "宋体";
	line-height:16px;
	word-break:break-strict;
	text-align:center;
	color:#9C0;
	text-shadow:#333 1px 1px 1px;
}

#main #share_block #file_block .file .s_date{
	height:auto;
	width:170px;
	margin: 5px 5px;
	float:left;
	font:bold 13px "宋体";
	line-height:16px;
	word-break:break-strict;
	text-align:center;
	color:#ccc;
	text-shadow:#000 1px 1px 1px;
}

