/* CSS Document */

*{
	margin:0px auto;
	padding:0px;
	font-size:12px;
	
}
#container{
	width:980px;
}

#header{
	width:980px;
	height:134px;
}
#header #logo{
	height:75px;
	width:186px;
	margin:20px 0px 0px 10px;
	background:url(../images/logo.png);
	float:left;
}
#header #add{
	width:100px;
	height:70px;
	float:right;
	margin-top:10px;
	
}
#header #add li{
	float:left;
	list-style:none;
	line-height:24px;
	margin:4px 0px 0px 6px;
}
#add li.add0{
	width:20px;
	background:url(../images/logo_l.png) no-repeat;
	clear:right;
}
#add a{
	text-decoration:none;
	font-size:13px;
	color:#999;
}
#add a:hover{
	color:#2B9149;
	text-decoration:underline;
}

#header #nav{
	height:30px;
	width:650px;
	clear:right;
	float:right;
	margin:0px 0px 5px 0px;
}
#header #nav li{
	float:left;
	list-style:none;
	width:110px;
	line-height:34px;
	text-align:center;
}
#header #nav a{
	font: bold 18px "ו";
	color:#666;
	text-decoration:none;
}
#header #nav a:hover{
	color:#2B9149;
}
#header .low{
	width:100%;
	height:auto;
	clear:both;
	background:url(../images/up_l.png) no-repeat;
}


#main{
	width:100%;
	height: auto;
	color: #333;
}
#main #list{
	width:100%;
	height:1200px;
	border:1px solid #999;
}
#main #list #link_left{
	width:230px;
	height:1000px;
	float:left;
}
#main #list #link_left li{
	list-style:none;
	text-align:right;
}
#main #list #link_left li a{
	font-size:14px;
	text-decoration:none;
	color:#090;
	line-height:40px;
	margin-right:10px;
}
#main #list #link_left li a:hover{
	text-decoration:underline;
	color:#999;
}

#main #list #link_right{
	float:left;
	width:350px;
	margin:15px 0px 5px 20px;
	background:#FFF;
	height:450px;
}

#footer{
	width:980px;
	height:300px;
}
#footer li{
	list-style:none;
	text-align:center;
}
#footer .hr{
	height:1px;
	width:100%;
	background:#178245;
	clear:both;
	margin-top:20px;
}
#footer .help{
	width:250px;
	float:left;
}
#footer .link{
	width:400px;
	margin:0px 40px;
}
#footer .link .ff{
	width:200px;
	float:left;
}
#footer .about{
	width:250px;
}
#footer a{
	line-height:17px;
	list-style:none;
	text-decoration:none;
	color: #018B32;
}
#footer a:hover{
	color:#666;
	text-decoration:underline;
}
#footer #down{
	width:100%;
	height:70px;
	clear:both;
	padding-top:16px;
}
#footer #down p{
	text-align:center;
	line-height:20px;
	color:#666;





