/* CSS Document */


#main_block .order_state{float:left;width:100%; background:#666; padding:5px 0; overflow:hidden;}
#main_block .order_state span{float:left;width:94%; margin-left:3%; height:25px; color:#fff; font-size:16px; line-height:25px; font-weight:bold;overflow:hidden;}
#main_block .info_wuliu{float:left;width:94%; padding:0 3%; background:#fafafa; }
#main_block .info_wuliu p{float:left;width:100%; font-size:14px;overflow:hidden; height:25px; line-height:25px;}
#main_block .info_wuliu li{float:left;width:85%; margin-left:10%; padding-bottom:5px; color:#090;;font-size:12px; word-break:break-all;border-bottom:solid 1px #CCC; line-height:20px;}
#main_block .info_buyer{float:left;width:94%; padding:5px 3% 10px; background:#fafafa; border-bottom:solid 1px #CCC;}
#main_block .info_buyer .name{float:left;font-size:14px;}
#main_block .info_buyer .phonenum{float:right;font-size:14px; padding-right:5%; }
#main_block .info_buyer .addr_line{float:left; width:100%; margin-top:5px; }
#main_block .info_buyer .addr_line p{float:left;font-size:14px; }
#main_block .info_buyer .addr{ float:left; width:73%;font-size:14px; word-break:break-all; color:#000;}

#main_block .order_block{float:left;width:100%; margin-top:10px;}
#main_block .order_block .group_block{ float:left; width:100%; background:#fafafa;border-top:solid 1px #CCC;border-bottom:solid 1px #CCC;}
#main_block .order_block .group_block .top_b{ float:left; width:100%; height:40px; border-bottom:solid 1px #CCCCCC; display:block; line-height:40px;}
#main_block .order_block .group_block .top_b .btn_store_in{ float:left; width:93%; height:40px; line-height:40px; margin-left:10px; }
#main_block .order_block .group_block .top_b .btn_store_in .txt_tlt{ float:left; max-width:93%; overflow:hidden; font-size:14px;}
#main_block .order_block .group_block .top_b .btn_store_in .img_in{ float:left; height:18px; margin-top:11px;}
#main_block .order_block .group_block .single_goods{ float:left; width:90%; height:81px;  margin:0 5%;  display:block; overflow:hidden;}
#main_block .order_block .group_block .single_goods .btn_block_in{float:right; width:100%; margin:5px 0 0 5px; height:70px; overflow:hidden;border-bottom:solid 1px #CCCCCC; padding-bottom:5px; }
.order_block .group_block .single_goods .block_left{ float:left; width:70px; }
.order_block .group_block .single_goods .img_goods{width:70px;}
.order_block .group_block .single_goods .block_middle{ float:left;height:70px; width:47%; overflow:hidden;}
.order_block .group_block .single_goods .block_middle .txt_tlt{ display:block; width:90%; margin-left:5%; word-break:break-all; overflow:hidden; font-size:12px; height:35px; line-height:18px;}
.order_block .group_block .single_goods .block_middle .txt_info{ display:block; width:90%; margin-left:5%; word-break:break-all; overflow:hidden; font-size:10px; height:30px; line-height:15px; color:#666;}
.order_block .group_block .single_goods .block_right{ float:right;height:70px; width:24%; overflow:hidden; text-align:right;}
.order_block .group_block .single_goods .block_right p{display:block; width:100%; white-space:nowrap; overflow:hidden; word-wrap:break-word;text-overflow: ellipsis; line-height:20px; }
.order_block .group_block .single_goods .block_right .txt_xianjia{ color:#000; font-weight:bold;}
.order_block .group_block .single_goods .block_right .txt_yuanjia{ text-decoration:line-through; color:#999;}
.order_block .group_block .single_goods .block_right .txt_yuanjia .nums{color:#999;}
.order_block .group_block .single_goods .block_right .txt_nums{ color:#000; font-weight:bold;}
.order_block .group_block .sumup{ float:left; width:90%; margin:0 5%; padding:5px 0;border-bottom:solid 1px #CCC; overflow:hidden;}
.order_block .group_block .sumup p{ float:right; line-height:20px; margin-left:7%;}
.order_block .group_block .sumup .jiesheng{ clear:both; }
.order_block .group_block .sumup .shifu{ clear:both; }
.order_block .group_block .sumup .jiesheng span{ color:#0C0; }
.order_block .group_block .sumup .shifu span{ color:#F00; }
.order_block .group_block .sumup span{ color:#000; font-weight:bold;}

.order_block .info_seller{ float:left; width:90%; padding:5px 5% 15px; overflow:hidden; }
.order_block .info_seller .seller{ float:left; width:100%; font-size:14px; line-height:20px; padding:5px 0; max-height:40px; overflow:hidden; word-break:break-all;}
.order_block .info_seller .phonenum{ float:left;  height:30px;  width:47%; text-align:center; margin:5px 0 0 0%; font-size:16px; color:#06C; border:solid 1px #06C; line-height:30px; overflow:hidden;}
.order_block .info_seller .btn_shownum{ float:left; clear:left;  height:30px;  width:47%; text-align:center; background:#06C;  margin:-32px 0 0 0%;border:solid 1px #06C; font-size:16px; opacity:; color:#fff;  line-height:30px; overflow:hidden;}
.order_block .info_seller .btn_sixin{ float:left;height:30px;  width:47%; text-align:center; background:#090; margin:5px 0 0 4%; border:solid 1px #090;font-size:16px; color:#fff;  line-height:30px; overflow:hidden;}

#main_block .info_order{ float:left; width:90%; padding:10px 5%; background:#CCC;}
#main_block .info_order p{ float:left; width:100%; font-size:14px; color:#fff; text-shadow:0 0 5px #000;}

#sub_block{ position:fixed; width:100%; bottom:0;min-width:300px; max-width:560px;}
#sub_block .btn_group{  float:left; min-height:40px; width:90%; padding:0 5%; background:#666; opacity:0.96;}
#sub_block .btn_group .btn{float:right; height:30px; line-height:30px; margin:5px 0 5px 10px; padding:0 10px; border-radius:5px; background:#eee;}



